<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MySqlConnection"
			 connectionString="server=localhost;user id=root;password=0623;database=pos_tienda_tecnologia;port=3306;SslMode=none;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
